<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
	android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />
    
    <!-- Mandatory permission -->
    <uses-permission android:name="android.permission.INTERNET" />

   	<!-- Optional, but without them, you might get less ads and tracking could be less accurate -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application
		android:icon="@drawable/app_icon"
        android:label="@string/app_name">
        <activity android:name="com.unity3d.player.UnityPlayerProxyActivity"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        <activity android:name="com.unity3d.player.UnityPlayerNativeActivity"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
            <meta-data android:name="android.app.lib_name" android:value="unity" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
        </activity>
        <activity android:name="com.unity3d.player.VideoPlayer"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        
		<!-- Add this activity with this theme --> 
        <activity android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
                  android:theme="@android:style/Theme.Translucent" />
        
		<!-- Replace TEST_PUBLISHER_KEY with your unique AdBuddiz publisher key -->
		<meta-data android:name="ADBUDDIZ_PUBLISHER_KEY" android:value="65acec93-bd80-4a5b-b676-59fbbf680aef" />
		
		<!-- Set AdBuddiz test mode to true when testing. Remove for Google Play -->
		<meta-data android:name="ADBUDDIZ_TEST_MODE" android:value="false" />
		
		<!-- Activate AdBuddiz SDK Logging info. Deactivate for Google Play release -->
		<meta-data android:name="SHOW_ADBUDDIZ_LOG" android:value="false" />
		
    </application>

</manifest>